<section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/users"><i class="fa fa-user"></i> <span>User</span></a></li>
    <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
    <li class="treeview">
      <a href="#"><i class="fa fa-link"></i> <span>Datalogger</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/alarm">Alarm</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/real">Realtime</a></li>
      </ul>
    </li>
  </ul>
  <!-- /.sidebar-menu -->
</section>